.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  z-index: 2;
  @media screen and (max-width: 425px) {
    padding: 20px;
  }
  button {
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  p {
    color: #fff;
  }
}
